body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: bold;
}

.blue-color {
    color: blue;
}

.flexible-container {
    display: flex;
    margin-bottom: 90px;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

button {
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.bg-frame {
    background-image: url(bgfrm2.jpg);
    background-position-y: top;
    background-size: cover;
}

.space {
    text-align: center;
}

.space-more {
    padding-left: 40%;
    margin-bottom: 50px;
}

.header-padding {
    padding-left: 2%;
}

.recipe-item {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;

    border-color: rgb(233, 221, 221);
    border-width: 20px;
    border-radius: 20px;
    border-style: solid;


}

.recipe-item img {
    width: 100%;
}