body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: bold;
}

.blue-color {
    color: blue;
}

.flexible-container {
    display: flex;
    margin-bottom: 90px;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

button {
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.bg-frame {
    background-image: url(bgfrm2.jpg);
    background-position-y: top;
    background-size: cover;
}

.space {
    text-align: center;
}

.space-more {
    padding-left: 40%;
    margin-bottom: 50px;
}

.header-padding {
    padding-left: 2%;
}

.recipe-item {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;

    border-color: rgb(233, 221, 221);
    border-width: 20px;
    border-radius: 20px;
    border-style: solid;
}

.recipe-item img {
    width: 100%;
}

.services {
    padding-left: 4%;
    background-color: rgb(204, 243, 243);
    margin-bottom: 70px;
}

.social-media {
    width: 90%;

    display: flex;
    margin-bottom: 70px;
    background-color: white);
    padding-left: 1opx;

}

.followers {
    margin-left: 29%;
    margin-right: 20%;


}



footer {
    position: unset;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}